<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
</section>

<section class="about">
  <h1>About Achieve</h1>
  <p>
     Achieveは、受講生のために作成された、教材用アプリです。<br>
     Achieveを作り終えることで、SecondTeamに参加するための力を身につけることができます。
  </p>
  <p>
     Acheiveを一言で表すと、タスク管理アプリです。<br>
     チームメンバーが、今どのようなタスクを行っているかリアルタイムで把握することができます。
  </p>
</section>
