<div class="container">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <h2>編集する</h2>
      <%= form_for(@comment) do |f| %>
      <%= f.label :content %>
      <%= f.text_field :content %>
      <br>
      <%= f.submit %>
    <% end %>
  </div>
</div>
