<div class="wrapper col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
  <table class="table table-hover">
    <thead>
      <h2>メッセージ一覧</h2>
    </thead>
    <tbody>
      <% @conversations.each do |conversation| %>
      <div class="container-child col-md-2 col-sm-4 col-xs-6 ">
        <div class="profile_img">
          <td>
            <% if conversation.target_user(current_user).present? %>
            <%= image_tag conversation.target_user(current_user).image_url %>
            <br><br>
            <%= link_to conversation.target_user(current_user).name, conversation_messages_path(conversation) %>
          <% end %>
        </div>
        </td>
      <% end %>
      </div>
    </tbody>
  </table>
</div>
