header {
  width: 100%;
  background-color: #3b5998;
  height: 54px;
}

.navbar-default {
    border: 0;
}
.navbar {
    background-color: transparent;
    color: white;
    margin-bottom: 0px;
}
.navbar-default {
  .navbar-brand {
    color: #ccc;
    &:hover {
      color: white;
    }
  }
  .navbar-nav > li > a {
    color: #ccc;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-nav > .open > a {
    background-color: transparent;
    color: white;
    &:hover, &:focus {
      background-color: transparent;
      color: white;
    }
  }
}
@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ccc;
    text-align: center;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-default .navbar-toggle {
    background-color: transparent;
    &:hover, &:focus {
      background-color: transparent;
    }
  }
}

.about {
  background-color: white;
  color: #333;
  padding: 80px;
  height: 500px;
}

footer {
  width: 100%;
  background-color: #F2F2F2;
  padding: 20px 0 10px 0;
  color: black;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
}

.main-header {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-size: cover;
  background-color: white;
  background-attachment: fixed;
}

.flash {
  color: black;
  padding-top: 10px;
}

.followed_users {
  background-color: #e9e9e9;
  padding: 80px;
  padding-bottom: 185px;
}

.followers {
  background-color: #EFF5FB;
  padding: 80px;
  padding-bottom: 185px;
}

.box1 {
    width: 300px;
    height: 300px;
    border: 1px solid black;
}
